<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Svg's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body,
        html,
        .wrapper {
            height: 100%;
            width: 100%;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        text {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <svg viewport="0 0 580 400">
            <g>
                <title>Svg</title>
                <rect fill="#fff" height="402" width="582" y="-1" x="-1" />
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%">
                    <rect fill="black" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                </g>
            </g>
            <g>
                <title>Layer 1</title>
                <rect stroke="#333333" height="377" width="527" y="12" x="27" stroke-width="3" fill="#fff" />
                <ellipse ry="7.5" rx="8" cy="207" cx="329" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="96" cx="509" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="99" cx="258" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse stroke="#bf0000" ry="7.5" rx="8" cy="203" cx="260" stroke-width="1.5" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="326" cx="261" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="146" cx="285" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="325" cx="344" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="93" cx="346" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="274" cx="313" stroke-width="1.5" stroke="#bf0000" fill="#bf0000" />
                <ellipse ry="7.5" rx="8" cy="148" cx="88" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="293" cx="76" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="39" cx="125" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="338" cx="480" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="268" cx="530" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="55" cx="431" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="123" cx="168" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="170" cx="426" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="156" cx="198" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="230" cx="165" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="341" cx="170" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <ellipse ry="7.5" rx="8" cy="268" cx="456" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />

                <ellipse ry="7.5" rx="8" cy="0" cx="0" stroke-width="1.5" stroke="#232323" fill="#232323" />
                <ellipse ry="7.5" rx="8" cy="400" cx="50" stroke-width="1.5" stroke="#232323" fill="#232323" />
                <ellipse ry="7.5" rx="8" cy="400" cx="500" stroke-width="1.5" stroke="#232323" fill="#232323" />

                <ellipse ry="7.5" rx="8" cy="190" cx="493" stroke-width="1.5" stroke="#ff7f00" fill="#ff7f00" />
                <line stroke="#333333" stroke-dasharray="2,2" stroke-linecap="null" stroke-linejoin="null" y2="397"
                    x2="387" y1="-5.534884" x1="387.848836" fill-opacity="null" stroke-width="1.5" fill="none" />
                <line stroke="#333333" stroke-dasharray="2,2" stroke-linecap="null" stroke-linejoin="null" y2="397"
                    x2="235" y1="-6" x1="235" fill-opacity="null" stroke-width="1.5" fill="none" />
                <path d="M 0 0 C 0 0, 50 400, 500 400" stroke="black" fill="transparent" />

                <polygon points="250 350 290 385 335 385 380 370 360 70 300 30 240 100" stroke-width="1.5"
                    stroke="#ff5454" fill="#ff5e5e" fill-opacity="0.6" />
            </g>

            <g>
                <polygon points="50 600 0 650 50 700 600 700 650 650 600 600" stroke-width="1.5" stroke="#9a9a9a"
                    fill="#d0d0d0" fill-opacity="0.6" />
            </g>
            <text x="75" y="685" fill="#4a4a4a" transform="rotate(-10 67,17)">SVG representing a function</text>
        </svg>
    </div>

</body>

</html>