.table {
  overflow-x: auto;
  min-height: 31.25rem;
  .row {
    @extend .py-1;
    @extend .flex-nowrap;
    
    [class*="col"] {
      min-width: 12.5rem;
    }
  }

  .header {
    background: linear-gradient(to right, #e0e0e0 0%, #edeff1 53%, #f8f9fa 100%);
    font-weight: 600;
  }

}